<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/main-page.css}">
  <title>メインページ</title>
</head>

<body>

  <header>
    <div class="header">
      <a th:href="@{/main-page}"><img class="header-logo" src="logo.png" width="80px"></a>
      <h1 class="header-name">グルメ共有サイト</h1>
    </div>
  </header>

  <article>
    <div class="left-side">
      <h2>エリアから探す</h2>
      <div class="area-button-panel">
        <form th:action="@{/ikebukuro-area}" method="post">
          <input type="submit" class="area-button" value="池袋〜高田馬場・早稲田" name="ikebukuro-area">
        </form>
        <form th:action="@{/shinjuku-area}" method="post">
          <input type="submit" class="area-button" value="新宿・代々木・大久保" name="shinjuku-area">
        </form>
        <form th:action="@{/shibuya-area}" method="post">
          <input type="submit" class="area-button" value="渋谷・恵比寿・代官山" name="shibuya-area">
        </form>
        <form th:action="@{/harajuku-area}" method="post">
          <input type="submit" class="area-button" value="原宿・表参道・青山" name="harajuku-area">
        </form>
        <form th:action="@{/tokyo-area}" method="post">
          <input type="submit" class="area-button" value="東京・日本橋" name="tokyo-area">
        </form>
        <form th:action="@{/ginza-area}" method="post">
          <input type="submit" class="area-button" value="銀座・新橋・有楽町" name="ginza-area">
        </form>
      </div>
    </div>

    <div class="content">
      <h1>投稿一覧</h1>
      <div class="content-all" th:each="article : ${articleOfAll}">
        <img class="image" src="food.png" th:src="@{/image/}+${article.imgFile}" width="200px">
        <div class="content-explain">
          <span class="store">店名：
            <span class="article-store" th:text="${article.store}">店名</span>
          </span>
          <br>
          <span class="category">カテゴリ：
            <span class="article-category" th:text="${article.category}">カテゴリ</span>
          </span>
          <br>
          <span class="station">最寄駅：
            <span class="article-station" th:text="${article.station}">最寄駅</span>
          </span>
          <br>
          <span class="budget">予算：
            <span class="article-budget" th:text="${article.budget}+円">予算</span>
          </span>
          <br>
          <span class="smoke">禁煙・喫煙：
            <span class="article-smoke" th:text="${article.smoke}">禁煙・喫煙</span>
          </span>
          <br>
          <span class="phrase">ひとこと：
            <span class="article-phrase" th:text="${article.phrase}">ひとこと</span>
          </span>
          <br>
          <span class="nickname">投稿者：
            <span class="article-nickname" th:text="${article.registerNickname}">投稿者</span>
          </span>
          <br> 
            <form th:action="@{/execute-favorite}"  class="favorite-button" method="post" >
              <div class="button-panel">
                <input type="hidden" class="id" th:value="${article.id}" name="id" >
                <input type="submit" class="button" value="お気に入り" th:name="${article.id}" >
              </div>
            </form>
            <form th:action="@{/review}" method="post">
              <div class="review-panel">
              <input type="hidden" class="id" th:value="${article.id}" name="articleId" >
              <input type="submit" class="button" value="レビュー">
            </div>
            </form>
        </div> 
      </div>
    </div>
    <div class="right-side">
      <h2>メニュー</h2>
      <div class="area-button-panel">
        <form th:action="@{/my-page}" method="post">
          <input type="submit" class="area-button" value="マイページ" name="mypage">
        </form>
        <form th:action="@{/post-article-page}" method="post">
          <input type="submit" class="area-button" value="投稿" name="post-article">
        </form>
        <form th:action="@{/my-post}" method="post">
          <input type="submit" class="area-button" value="自分の投稿一覧" name="logout">
        </form>
        <form th:action="@{/favorite-page}" method="post">
          <input type="submit" class="area-button" value="お気に入り一覧" name="favorite">
        </form>
        <form th:action="@{/logout}" method="post">
          <input type="submit" class="area-button" value="ログアウト" name="logout">
        </form>
      </div>
    </div>
  </article>
  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/js/favorite.js}"></script>
</body>

</html>