<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/my-page.css}">
    <title>マイページ</title>
</head>
<body>

    <header>
        <div class="header">
        <a th:href="@{/main-page}"><img class="header-logo" src="logo.png" width="80px"></a>
        <h1 class="header-name">マイページ</h1>
        </div>
    </header>

    <div class="content">
       <img class="img" th:src="@{/image/}+${image}" width="200px"><br>
       <a class="img-edit" th:href="@{/profile-img-change-page}" >画像を変更</a><br>
      <p class="nickname"> 投稿ネーム：<span th:text="${nickname}"></span></p> 
      <p class="phrase">ひとこと： <span th:text="${phrase}"></span></p> 
       <a class="profile-edit" th:href="@{/profile-edit}">編集</a>
    </div>
</body>
</html>