<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/profile-edit.css}">
    <titleプロフィール編集</title>
</head>

<body>

    <header>
        <div class="header">
            <a th:href="@{/main-page}"><img class="header-logo" src="logo.png" width="80px"></a>
            <h1 class="header-name">プロフィール編集</h1>
        </div>
    </header>
   
    <div class="content">
       
        <form th:action="@{/execute-profile-edit}" th:object="${registerForm}" method="post">
            <h3>投稿ネーム</h3>
            <input type="text" th:field="*{nickname}">
            <h3>ひとこと</h3>
            <input type="text" th:field="*{phrase}">
            <div class="button-panel">
                <input class="button" type="submit" value="更新">
            </div>
        </form>
    </div>
</body>

</html>