<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/review.css}">
    <title>レビュー</title>
</head>

<body>

    <header>
        <div class="header">
            <a th:href="@{/main-page}"><img class="header-logo" src="logo.png" width="80px"></a>
            <h1 class="header-name">投稿のレビュー</h1>
        </div>
    </header>

    <div class="content">
        <div class="content-all">
            <img src="food.png" th:src="@{/image/}+${article.imgFile}" width="200px">
            <div class="content-explain">
                <span class="store">店名：
                    <span class="article-store" th:text="${article.store}">店名</span>
                </span>
                <br>
                <span class="category">カテゴリ：
                    <span class="article-category" th:text="${article.category}">カテゴリ</span>
                </span>
                <br>
                <span class="station">最寄駅：
                    <span class="article-station" th:text="${article.station}">最寄駅</span>
                </span>
                <br>
                <span class="budget">予算：
                    <span class="article-budget" th:text="${article.budget}+円">予算</span>
                </span>
                <br>
                <span class="smoke">禁煙・喫煙：
                    <span class="article-smoke" th:text="${article.smoke}">禁煙・喫煙</span>
                </span>
                <br>
                <span class="phrase">ひとこと：
                    <span class="article-phrase" th:text="${article.phrase}">ひとこと</span>
                </span>
                <br>
                <span class="nickname">投稿者：
                    <span class="article-nickname" th:text="${article.registerNickname}">投稿者
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="review">
        <p>レビューを記入してください</p>
        <form th:action="@{/execute-review}" method="post" th:object="${reviewForm}">
            <textarea rows="10" cols="40" th:field="*{comment}"></textarea><br>
            <div class="button-panel">
                <input type="hidden" th:value="${article.id}" name="articleId">
                <input type="submit" class="button" value="送信">
            </div>
        </form>
    </div>
    <div class="review-comment" th:each="review: ${reviewOfAll}">
        投稿者：<span th:text="${review.register.nickname}">たいち</span><br>
        レビュー：<span th:text="${review.comment}">good</span>
        <br>
       <!-- <a th:href="@{/count-good}"class="count" >
            <img class="good-button" src="good-button.png" width="20px">
        </a>-->
     <!--  <form th:action="@{/count-good}" class="count" method="post"></form> -->
     <button type="button" class="good-button"  >
     <input type="image" src="good-button.png" value="1" name="count" width="20px">
    </button>
            いいね数:<span class="a">0</span>
        <hr>
    </div>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/review.js}"></script>
</body>

</html>